<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Keys</key>
	<dict>
		<key>orderBy</key>
		<string>order_by</string>
		<key>order</key>
		<string>order</string>
		<key>perPage</key>
		<string>per_page</string>
		<key>page</key>
		<string>page</string>
	</dict>
</dict>
</plist>
