<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PrepareParametersFromDictionary_NotFullDictionaryInput</key>
	<dict>
		<key>perPage</key>
		<string>16</string>
		<key>page</key>
		<string>16</string>
		<key>minVotes</key>
		<string>16</string>
	</dict>
	<key>PrepareParametersFromDictionary_FullDictionaryInput</key>
	<dict>
		<key>orderBy</key>
		<string>r</string>
		<key>order</key>
		<string>d</string>
		<key>perPage</key>
		<string>16</string>
		<key>page</key>
		<string>16</string>
		<key>minVotes</key>
		<string>16</string>
	</dict>
	<key>RequestStringFromMutableDictionary_NotFullDictionaryInput</key>
	<dict>
		<key>perPage</key>
		<string>16</string>
		<key>page</key>
		<string>16</string>
		<key>minVotes</key>
		<string>16</string>
	</dict>
	<key>RequestStringFromMutableDictionary_FullDictionaryInput</key>
	<dict>
		<key>orderBy</key>
		<string>r</string>
		<key>order</key>
		<string>d</string>
		<key>perPage</key>
		<string>16</string>
		<key>page</key>
		<string>16</string>
		<key>minVotes</key>
		<string>16</string>
	</dict>
	<key>RequestStringFromMutableDictionary_OverFullDictionaryInput</key>
	<dict>
		<key>orderBy</key>
		<string>r</string>
		<key>order</key>
		<string>d</string>
		<key>perPage</key>
		<string>16</string>
		<key>page</key>
		<string>16</string>
		<key>minVotes</key>
		<string>16</string>
		<key>ad</key>
		<string>ad</string>
	</dict>
	<key>PrepareParametersFromDictionary_NilResult</key>
	<dict>
		<key>orderBy</key>
		<string>rating</string>
		<key>order</key>
		<string>desc</string>
		<key>perPage</key>
		<string>16</string>
		<key>page</key>
		<string>1</string>
		<key>minVotes</key>
		<string>10</string>
	</dict>
	<key>PrepareParametersFromDictionary_NotFullDictionaryResult</key>
	<dict>
		<key>orderBy</key>
		<string>rating</string>
		<key>order</key>
		<string>desc</string>
		<key>perPage</key>
		<string>16</string>
		<key>page</key>
		<string>16</string>
		<key>minVotes</key>
		<string>16</string>
	</dict>
	<key>PrepareParametersFromDictionary_FullDictionaryResult</key>
	<dict>
		<key>orderBy</key>
		<string>r</string>
		<key>order</key>
		<string>d</string>
		<key>perPage</key>
		<string>16</string>
		<key>page</key>
		<string>16</string>
		<key>minVotes</key>
		<string>16</string>
	</dict>
	<key>RequestStringFromMutableDictionary_NilResult</key>
	<string>Movie.browse/en-US/json/ed2f89aa774281fcada8f17b73c8fa05?</string>
	<key>RequestStringFromMutableDictionary_NotFullDictionaryResult</key>
	<string>Movie.browse/en-US/json/ed2f89aa774281fcada8f17b73c8fa05?per_page=16&amp;page=16&amp;min_votes=16</string>
	<key>RequestStringFromMutableDictionary_FullDictionaryResult</key>
	<string>Movie.browse/en-US/json/ed2f89aa774281fcada8f17b73c8fa05?order_by=r&amp;per_page=16&amp;order=d&amp;page=16&amp;min_votes=16</string>
	<key>RequestStringFromMutableDictionary_OverFullDictionaryResult</key>
	<string>Movie.browse/en-US/json/ed2f89aa774281fcada8f17b73c8fa05?order_by=r&amp;per_page=16&amp;order=d&amp;page=16&amp;min_votes=16</string>
</dict>
</plist>
